body {
  background-color: white;
  font-family: arial;
}
h1 {
  background-color: white;
  font-family: arial;
  padding: 10px;
  border-width: medium;
  border-color: #4682B4;
  border-style: solid;
  text-align: center;
  margin: 100;
}
footer {
  background-color: white;
  font-family: arial;
  padding: 5px;
  border-width: medium;
  border-color: #4682B4;
  border-style: solid;
  text-align: center;
  margin: 150px;
}
blockquote {
  font-family: arial;
  font-size: 20px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
}
section {
  text-align:center;
  font-size: 20px;
  border-width: medium;
  border-color: #4682B4;
  background-color: white;
  border-style: solid;
  margin: 15px
}
article {
  background-color: white;
  text-align: left;
}
header {
  text-align: center;
}
